configs
program/__pycache__
program/semantic/__pycache__
program/ir/__pycache__
program/runtime/__pycache__
tests/semantic/__pycache__/
tests/ir/__pycache__/
tests/__pycache__/
.venv
.pytest_cache

program/Compiscript.interp
program/Compiscript.tokens
program/CompiscriptLexer.interp
program/CompiscriptLexer.py
program/CompiscriptLexer.tokens
program/CompiscriptListener.py
program/CompiscriptParser.py
program/CompiscriptVisitor.py